@import 'bigcalendar-custom.css';

h1 {
  font-size: 28px;
}

.logo {
  width: 140px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 600px) {
  .logo {
    width: 70px;
    height: 50px;
  }
}

.skogen-logo {
  background-image: url('images/skogen-new-logo.svg');
  background-repeat: no-repeat;
}

.header-container {
  width: 100%;
}

.layout {
  max-width: 1280px;
  margin: 0 auto;
}

.ant-row.header-background {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 1280px;
  padding: 12px;
}

.ant-layout .ant-layout-footer {
  background: none;
}

.layout.ant-layout .ant-layout-header {
  padding: 0 24px;
}

.center-that {
  display: flex;
  justify-content: center;
}

.ant-list .ant-card {
  margin-bottom: 24px;
}

.ant-list .ant-list-item-extra {
  overflow: hidden;
}

.ant-list .ant-list-item-meta {
  align-items: center;
}

.ant-card .ant-card-meta-description {
  color: rgba(0, 0, 0, 0.65);
  white-space: pre-line;
}

.ant-card .ant-card-head-title {
  white-space: inherit;
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
    line-height: 26px;
  }
}

.bold-font {
  font-weight: bold;
}

textarea#longDescription.ant-input {
  min-height: 240px;
}

#login-username-or-email-label-and-input,
#login-password-label-and-input,
#login-username-label-and-input,
#login-email-label-and-input,
#forgot-password-email-label-and-input {
  display: flex;
  flex-direction: column;
}

.ant-menu-horizontal > li.ant-menu-item > a,
.ant-menu-horizontal > .ant-menu-submenu > a {
  color: #2e3880;
}

li.ant-menu-item span {
  display: block;
}

#login-buttons {
  display: block;
  line-height: inherit;
}

#login-sign-in-link {
  display: block;
}

.addSpace-modal .ant-modal-footer {
  display: none;
}
