@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
html,
#render-target,
.word-break,
body .ant-input,
.tags-container .ant-tag {
  font-family: 'Nunito', sans-serif;
  word-break: break-word;
  cursor: 'pointer';
}

.ant-layout h1 {
  letter-spacing: -0.5px;
}

.ant-layout h1,
.ant-modal-wrap h1,
.ant-layout h2,
.ant-modal-wrap h2,
.ant-layout h3,
.ant-modal-wrap h3,
.ant-layout h5,
.ant-modal-wrap h5,
.ant-layout h6,
.ant-modal-wrap h6,
.ant-modal-body .ant-confirm-body .ant-confirm-title,
.ant-modal-title {
  font-weight: 700;
}

.main-viewport .skogen-menu-layout {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 12px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.skogen-menu-layout > a {
  padding: 6px 12px;
}

.thumb-cover-child-lazy-image {
  width: 100%;
}

.thumb-cover {
  width: 100%;
  position: absolute;
  filter: brightness(50%);
  transition: all ease-in-out 200ms;
}

.thumb-cover-container {
  height: 300px;
  background-color: #921bef;
  /* position: relative;
  flex: 360px 1 0;
  margin: 6px; */
}

.thumb-cover-container.work-thumb {
  width: 360px;
}

.thumb-cover-container-event {
  border: 5px solid #921bef;
}

.cover-highlight-title {
  background-color: rgba(234, 57, 36, 0.9);
}

.thumb-cover-container:hover .thumb-cover {
  filter: brightness(70%);
}

.thumb-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 32px;
  overflow-wrap: anywhere;
  font-weight: bold;
}

.thumb-subtitle {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.toggleable {
  padding: 12px;
  margin: 12px;
  border: 1px solid #401159;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.toggleable:hover {
  background-color: #f8f8f8;
}
.toggleable:focus,
.toggleable:active {
  background-color: #f8f8f8;
  border-width: 2px;
}

.scrollable-container {
  -webkit-overflow-scrolling: touch;
}

.main-viewport #login-buttons .login-button,
.accounts-dialog .login-button {
  background-color: #fbd5d0;
  color: #401159;
  font-style: initial;
  font-family: 'Nunito', sans-serif;
  border: 1px solid #fbd5d0;
  font-weight: 600;
  border-radius: 0;
}

.main-viewport #login-buttons .login-button,
.accounts-dialog .login-button:hover {
  background-color: #921bef;
  color: #fff;
}

.main-viewport #login-buttons input[type='text'],
.accounts-dialog input[type='text'],
#login-buttons input[type='email'],
.accounts-dialog input[type='email'],
#login-buttons input[type='password'],
.accounts-dialog input[type='password'] {
  border-radius: 0;
}

.main-viewport #login-buttons .additional-link-container {
  padding: 12px;
}

.main-viewport .accounts-dialog .additional-link {
  font-size: 100%;
  color: #921bef;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  float: none;
}

.main-viewport #login-buttons #signup-link {
  float: none;
  text-align: center;
}

.main-viewport .accounts-dialog {
  border: 1px solid #401159;
  border-radius: 0;
  padding-bottom: 24px;
}

.quill .ql-toolbar.ql-snow,
.quill .ql-container.ql-snow {
  border-color: #3b1456;
}

.ql-container .ql-editor {
  min-height: 18em;
}

.ql-container .ql-editor p {
  line-height: 1.5;
  margin-bottom: 1em;
  font-size: 14px;
}

.ant-avatar > img {
  object-fit: cover;
}

.spin-container {
  width: 100%;
}

.community-page {
  padding: 24px;
}

.ant-cascader-dropdown.ant-select-dropdown {
  box-shadow: none;
}

.ant-cascader-menus .ant-cascader-menu {
  height: auto;
  width: 280px;
}

.ant-collapse-item > .ant-collapse-header {
  display: flex;
  align-items: center;
}

.ant-collapse.ant-collapse-borderless {
  background-color: #fff;
}
